[Desktop Entry]
Type=Application
Name=Diskette
Comment=A cross-platform dual-pane file manager
Exec=diskette
Icon=diskette
Terminal=true
Categories=System;FileManager;Utility;
